
/**Utility Stuff**/

*{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0 0 0 0;


}


.flexContainer{
  display:flex;
}

a{
 text-decoration: none;
}

/**header**/
#headerContainer{
  width:100%;
  font-family:'Lemon',cursive;
  background-color:#FFF583;
  color:white;
  border-bottom: 5px solid #BEB01A;
}

#header{
  height:5em;
  justify-content: space-between;
  align-items: center;

}

/***Logo****/
/**TODO Add in the id for the actual logo**/
#logoWrapper{



}





/**Nav Units**/
#navContainer{

  width:50%;
  justify-content: space-between;



}



nav > a{
  font-size: 2.5em;
  color:white;
  -webkit-text-stroke: 1px grey;
}
