
/**Utility Stuff**/

*{
  margin: 0 0 0 0;
  padding: 0 0 0 0;



}


.flexContainer{
  display:flex;
}

a{
 text-decoration: none;
}

body{
  height:100%;
}

/**header**/
#headerContainer{
  width:100%;
  font-family:'Lemonada',cursive;
  background-color:#6B68B2;
  font-weight: bold;
  color:white;
  border-bottom: 10px solid #4C4799;
}

#header{

  justify-content: space-between;
  align-items: center;

}

/***Logo****/

#logoWrapper{
  margin-left:20px;
width:30%
display:flex;
align-items: center;
}

#logoImage{
margin-right:10px;

}
#logoText{

white-space: nowrap;
 font-size: 3em;
  color:white;
  /**Possibly change so that we don't need WebKit**/
  -webkit-text-stroke: 3px grey;

}




/**Nav Units**/
#navContainer{

  width:50%;
  justify-content: flex-end;
  flex-basis: 100%;


}

nav > a{
  margin-right:50px;
  font-size: 2em;
  color:white;
  /**Possibly change so that we don't need WebKit**/
  -webkit-text-stroke: 2px grey;
}

/**Footer**/
#footerContainer{
  color:white;
  background-color:white;

}
footer{

font-family:'Lemonada',cursive;
background-color: #6B68B2;
justify-content: space-around;
}
footer > *{
      text-align:center;
      justify-content: center;
      flex-flow: column;

}



#mainMenuAgain{


  font-size:2em;

}

#mainMenuAgain > a{
color:white;
}

#satisfaction{



}
#satisfaction > img{
justify-content: center;

}
#contactUs{



}
#contactUs span{
  color:white;
  background-color:#4C4799;
  padding: 25px 100px 25px 100px;
}
