#sloganWrapper{
border-top:solid 5px #BEB01A;
height:60vh;
background-color: #FFF583;
justify-content: center;
}

#slogan{
  font-family:'Lemonada',cursive;

 color:white;
 height:100%;
 justify-content: center;
 align-items: center;
 font-size:3em;

  -webkit-text-stroke: 2px black;
}

#summaryWrapper{
  border-top:10px solid #95388D;
display: flex;
flex-flow:column;
align-items: center;
background-color:white;
color:#AD59A6;
font-family:'Open Sans',sans-serif;

}

#summaryHeader{
padding-top:20px;
font-size:4em;


}

#summarySubHeader{

}
#summary{
  text-align:center;
  padding-bottom:20px;
  font-size:1.5em;
  width:40%;
}
#summary > p{
  margin-top:20px;
}

#faqContainer{
  font-family:'Open Sans',cursive;
  color:white;
  background-color: #6B68B2;
}



#faq{
text-align: center;
padding-top:30px;
}

#faq h2{
font-size:2em;
}

#containerForQuestions{

}
.questionContainer{

  flex-basis: 100%;
  padding:2% 2% 2% 2%;
}

.questionContainer span{
  font-size:1.5em;
}
