
/**When the screen is smaller than 1200px**/
@media (max-width: 1200px) {
  #header{
    flex-flow:column;
    flex-wrap: wrap;

  }

*{justify-content: center;}

  #navContainer{

    flex-grow: 1;
  }

  #slogan span{text-align: center;}


  }



@media (max-width:700px) {
    #logoWrapper{flex-flow:column;}
    #logoImage{padding-top:20px;}
    #logoText{font-size:1em;}
    #navContainer{
      width:100%;
      justify-content:center;;

    }
  }


@media (max-width:600px){
  #logoText{font-size:0.75em;}
}


/**TODO**/
/**You still have to fix the header alignment issue
  you have to fix the summary text and get it's width correct
  then you have to finish media queries for the rest of the site**/
